<html><head></head><body><center>
  <h1>Shuaiby Full Live Stream [uyC8TwiLoNS6.mp4]</h1>
  <video controls="" "=""><source src="https://dev8958.d1yzx9x7in00pw.amplifyapp.com/uyC8TwiLoNS6.mp4" type="video/mp4"></video>
                                                                                                                   <fieldset><p>Uploaded by <a href="https://youtube.com/@sellpepsi">mack</a> on February 4th 2023</p></fieldset>
<fieldset><b>Description:</b> Full stream of 18 year old Shuaiby Islam taking his own life on a discord call while streaming to YouTube.</fieldset>
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = https://nerdbob.pw;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = mack; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mack-7.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript.</noscript></center></body></html>
